<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Add</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form action="/add" method="POST">
        <input type="number" name="firstnumber" id="num1">
        <input type="number" name="secondnumber" id="num2">
        <button>Add</button>
    </form>
    <h1><%= first%> + <%= second %>Result = <%= add %> </h1>
</body>
</html>